/*

Bryan Moore Web Developement

Personal Website for my resume & portfolio

index.html

*/

@font-face {
	font-family: adamPro;
	src: url(adamCgPro.otf);
}

body {
	background-color: #EAE7DC;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    width: 80%;
    border-color: #FBEEC1;
} 

a {
	cursor: crosshair;
}

li {
	text-align: left;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.headline {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #1A1A1D;

	/* The image used */
    background-image: url("sand.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    image-rendering: -webkit-optimize-contrast;
}

#navbar {
	z-index: 10000;
    position: fixed; /* Make it stick/fixed */
    top: -100px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    /* transition: top 0.4s;  Transition effect when sliding down (and up) */

    /* The image used */
    background-image: url("sand.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    
    background-color: white;

    font-size: 12pt;
	text-align: center;
	font-weight: bold;
	font-family: avenir;
	color: #3F3F3F;
	padding: 20px;
}


/* Style the navbar links */
#navbar a {
    padding: 30px;
    color: #B1A296;
    text-align: center;
}

#navbar a:hover {
    color: #EAE7DC;
	transition: 1000ms ease;
}

.banner {
	font-size: 40pt;
	text-align: center;
	font-weight: bold;
	font-family: adamPro;
	color: #EAE7DC;

}

.banner2 {
	font-size: 25pt;
	text-align: center;
	font-weight: bold;
	font-family: avenir;
	color: #31708E;
}

.banner3 {
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
	font-family: avenir;
	color: #3F3F3F;
	padding-top: 10px;
}

.banner3 a {
	padding: 30px;
	color: #B1A296;
}

.banner3 a:hover {
	color: #EAE7DC;
	transition: 1000ms ease;

}

.aboutMe {
	padding: 50px;
	font-size: 20pt;
	font-family: avenir;
}

.aboutMe p {
	font-size: 12pt;
}

.aboutMe button {
	font-family: avenir;
	font-size: 12pt;
	color: #EAE7DC;
	background-color: #31708E;
	height: 40px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.aboutMe button:hover {
	color: #31708E;
	font-style: bold;
	background-color: #EAE7DC;
	border: 2px solid #31708E;
	transition: 1000ms ease;

}

#button2 {
	font-family: avenir;
	font-size: 12pt;
	color: #EAE7DC;
	background-color: #B1A296;
}

#button2:hover {
	color: #B1A296;
	background-color: #EAE7DC;
	border: 2px solid #B1A296;
	transition: 1000ms ease;
}

#custom {
	color: #31708E;
	font-weight: bold;
}

.service-wrapper {
	overflow: hidden;
	position: relative;
}

.service-wrapper-inner {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 185px;
	padding: 15px 20px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	background: rgba(32, 32, 32, 0.9);
	font-family: adamPro;
	color: #EAE7DC;
}

.service-wrapper-inner p {
	font-size: 15pt;
	color: #31708E;
}

.service-wrapper-inner li {
	color: #B1A296;
}

.service-wrapper:hover .service-wrapper-inner {
	top: 0;
}

.portfolioHeadline {
	background-color: #1A1A1D; 
}

.portfolioHeadline h2 {
	color: #EAE7DC;
	font-size: 30pt;
	text-align: center;
	font-weight: bold;
	font-family: adamPro;
	padding-top: 20px;
}

.portfolioSection {
	background-color: #1A1A1D; 
	color: #EAE7DC;
	text-align: center;
	font-family: avenir;
	padding-top: 35px;
	padding-bottom: 35px;

}

.portfolioSection img {
	width: 100%;
}

.resumeHeadline {
	background-color: #EAE7DC; 
	padding-top: 20px;
}

.resumePdf {
	text-align: center;
	margin: 0 auto;
}

.resumeHeadline h2 {
	color: #1A1A1D;
	font-size: 30pt;
	text-align: center;
	font-weight: bold;
	font-family: adamPro;
}

.resumeHeadline hr {
	width: 100%;
	border-color: #1A1A1D;
}

.resumeSection h3 {
	color: #1A1A1D;
	font-size: 15pt;
	text-align: center;
	font-weight: bold;
	font-family: adamPro;
}

.resumeSection h4 {
	color: #1A1A1D;
	font-size: 15pt;
	font-weight: bold;
	font-family: avenir;
}

.resumeSection h5 {
	color: #1A1A1D;
	font-size: 15pt;
	font-family: avenir;
}

.resumeSection {
	color: #1A1A1D;
	font-size: 14pt;
	font-family: avenir;
}

.resumeSection hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	border-color: white;
}

.skill {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.contactSection {
	background-color: #1A1A1D; 
	color: #EAE7DC;
	text-align: center;
	font-family: avenir;
	padding-top: 20px;
}

.contactSection h2 {
	color: #EAE7DC;
	font-size: 30pt;
	text-align: center;
	font-weight: bold;
	font-family: adamPro;
	padding-top: 20px;
}

.contactImg {
	padding: 20px;
}
.contactImg img {
	width: 100px;
}

::placeholder {
	color: #EAE7DC;
}

.contactSection input{
	width: 80%;
	padding: 5px;
	opacity: 0.7;
	font-family: avenir;
	color: #EAE7DC;
	background: rgba(32, 32, 32, 0.9);
	font-size: 18px;
}

.contactSection textarea{
	width: 80%;
	padding: 5px;
	height: 150px;
	opacity: 0.7;
	font-family: avenir;
	color: #EAE7DC;
	background: rgba(32, 32, 32, 0.9);
	font-size: 18px;
}

.contactSection button {
	width: 100px;
	color: #B1A296;
	margin: 40px;
	background: rgba(32, 32, 32, 0.9);
	font-size: 18px;
	font-family: adamPro;
}

.btn-default {
  background-color: #000;
  color: #ffe100;
}
.btn-primary {
  background-color:
    #ffe100;
  color: #000;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }
}

.button-glow {
  animation: glowing 2000ms infinite;
}

/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*linkedin*/
.wrapper ul li:hover.linkedin {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* github */
.wrapper ul li:hover.github {
  border: 5px solid #4078c0;
  box-shadow: 0 0 15px #4078c0;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: #4078c0;
  text-shadow: 0 0 15px #4078c0;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}


